Options +FollowSymLinks
RewriteEngine On

# Проверяем, что запрашиваемый файл с расширением .html существует
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f

# Перенаправляем запрос без .html
RewriteRule ^(.*)$ $1.html [L]
